/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */
body {
  padding: 40px;
  text-align: center;
}

button {
  background-color: yellow;
  border: none;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  margin-top: 30px;
}

img {
  width: 60px;
  display: block;
  margin: 60px auto;
}


div {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  cursor: pointer;
  background-color: #E16F20;
  transition: all .3s ease-in-out;
  /* STEP 2: Add transition property here.
      Here's a refresher on the syntax: transition: propertyToTransition duration effect
      Example:

      Test it out to see the difference!
   */

}
.large-img{
  width: 25%;
  /* height: 500px; */
  transition: all 2s ease-in-out;
  transform: translateX(-400px);
}

.party {
  background-color: #00D0CB;
  width: 400px;
  height: 400px;
  transition: all .1s ease-in-out;
  transform: translateX(400px);
  transform: rotate(-90);

  /* STEP 4: Use the transform property to translate, or move, the div 100px to the LEFT. (hint: look up translateX) */

  /* BONUS: Try also adding a rotation or another transform! */
}
